In [1]:
import pandas as pd

In [15]:
MChoice_Response = pd.read_csv("multipleChoiceResponses.csv",encoding='ISO-8859-1')
FForm_Response = pd.read_csv("freeformResponses.csv",encoding='ISO-8859-1')
Conversion_Rate = pd.read_csv("conversionRates.csv",encoding='ISO-8859-1')

C:\Users\Arshad\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Arshad\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5,17,21,38,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
MChoice_Response.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
FForm_Response.head()

,GenderFreeForm,KaggleMotivationFreeForm,CurrentJobTitleFreeForm,MLToolNextYearFreeForm,MLMethodNextYearFreeForm,LanguageRecommendationFreeForm,PublicDatasetsFreeForm,PersonalProjectsChallengeFreeForm,LearningPlatformCommunityFreeForm,LearningPlatformFreeForm1,...,WorkMethodsFrequencySelect2FreeForm,WorkMethodsFrequencySelect3FreeForm,TimeOtherSelectFreeForm,WorkChallengesFreeForm,WorkChallengeFrequencyOtherFreeForm,WorkMLTeamSeatFreeForm,WorkDataStorageFreeForm,WorkCodeSharingFreeForm,SalaryChangeFreeForm,JobSearchResourceFreeForm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data manipulation,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I can't find time to practice consistently,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,teacher,NaN,NaN,NaN,NaN,NaN,NaN,Meetups,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Connectivity/data fusion,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Conversion_Rate.head()

   Unnamed: 0 originCountry  exchangeRate
0           1           USD      1.000000
1           2           EUR      1.195826
2           3           INR      0.015620
3           4           GBP      1.324188
4           5           BRL      0.321350

In [14]:
#MChoice_Response.dtypes.index
MChoice_Response.columns.values

array(['GenderSelect', 'Country', 'Age', 'EmploymentStatus',
       'StudentStatus', 'LearningDataScience', 'CodeWriter',
       'CareerSwitcher', 'CurrentJobTitleSelect', 'TitleFit',
       'CurrentEmployerType', 'MLToolNextYearSelect',
       'MLMethodNextYearSelect', 'LanguageRecommendationSelect',
       'PublicDatasetsSelect', 'LearningPlatformSelect',
       'LearningPlatformUsefulnessArxiv',
       'LearningPlatformUsefulnessBlogs',
       'LearningPlatformUsefulnessCollege',
       'LearningPlatformUsefulnessCompany',
       'LearningPlatformUsefulnessConferences',
       'LearningPlatformUsefulnessFriends',
       'LearningPlatformUsefulnessKaggle',
       'LearningPlatformUsefulnessNewsletters',
       'LearningPlatformUsefulnessCommunities',
       'LearningPlatformUsefulnessDocumentation',
       'LearningPlatformUsefulnessCourses',
       'LearningPlatformUsefulnessProjects',
       'LearningPlatformUsefulnessPodcasts',
       'LearningPlatformUsefulnessSO',
       'LearningPlatformUsefulnessTextbook',
       'LearningPlatformUsefulnessTradeBook',
       'LearningPlatformUsefulnessTutoring',
       'LearningPlatformUsefulnessYouTube',
       'BlogsPodcastsNewslettersSelect', 'LearningDataScienceTime',
       'JobSkillImportanceBigData', 'JobSkillImportanceDegree',
       'JobSkillImportanceStats', 'JobSkillImportanceEnterpriseTools',
       'JobSkillImportancePython', 'JobSkillImportanceR',
       'JobSkillImportanceSQL', 'JobSkillImportanceKaggleRanking',
       'JobSkillImportanceMOOC', 'JobSkillImportanceVisualizations',
       'JobSkillImportanceOtherSelect1', 'JobSkillImportanceOtherSelect2',
       'JobSkillImportanceOtherSelect3', 'CoursePlatformSelect',
       'HardwarePersonalProjectsSelect', 'TimeSpentStudying',
       'ProveKnowledgeSelect', 'DataScienceIdentitySelect',
       'FormalEducation', 'MajorSelect', 'Tenure', 'PastJobTitlesSelect',
       'FirstTrainingSelect', 'LearningCategorySelftTaught',
       'LearningCategoryOnlineCourses', 'LearningCategoryWork',
       'LearningCategoryUniversity', 'LearningCategoryKaggle',
       'LearningCategoryOther', 'MLSkillsSelect', 'MLTechniquesSelect',
       'ParentsEducation', 'EmployerIndustry', 'EmployerSize',
       'EmployerSizeChange', 'EmployerMLTime', 'EmployerSearchMethod',
       'UniversityImportance', 'JobFunctionSelect', 'WorkHardwareSelect',
       'WorkDataTypeSelect', 'WorkProductionFrequency', 'WorkDatasetSize',
       'WorkAlgorithmsSelect', 'WorkToolsSelect',
       'WorkToolsFrequencyAmazonML', 'WorkToolsFrequencyAWS',
       'WorkToolsFrequencyAngoss', 'WorkToolsFrequencyC',
       'WorkToolsFrequencyCloudera', 'WorkToolsFrequencyDataRobot',
       'WorkToolsFrequencyFlume', 'WorkToolsFrequencyGCP',
       'WorkToolsFrequencyHadoop', 'WorkToolsFrequencyIBMCognos',
       'WorkToolsFrequencyIBMSPSSModeler',
       'WorkToolsFrequencyIBMSPSSStatistics',
       'WorkToolsFrequencyIBMWatson', 'WorkToolsFrequencyImpala',
       'WorkToolsFrequencyJava', 'WorkToolsFrequencyJulia',
       'WorkToolsFrequencyJupyter', 'WorkToolsFrequencyKNIMECommercial',
       'WorkToolsFrequencyKNIMEFree', 'WorkToolsFrequencyMathematica',
       'WorkToolsFrequencyMATLAB', 'WorkToolsFrequencyAzure',
       'WorkToolsFrequencyExcel', 'WorkToolsFrequencyMicrosoftRServer',
       'WorkToolsFrequencyMicrosoftSQL', 'WorkToolsFrequencyMinitab',
       'WorkToolsFrequencyNoSQL', 'WorkToolsFrequencyOracle',
       'WorkToolsFrequencyOrange', 'WorkToolsFrequencyPerl',
       'WorkToolsFrequencyPython', 'WorkToolsFrequencyQlik',
       'WorkToolsFrequencyR', 'WorkToolsFrequencyRapidMinerCommercial',
       'WorkToolsFrequencyRapidMinerFree', 'WorkToolsFrequencySalfrod',
       'WorkToolsFrequencySAPBusinessObjects', 'WorkToolsFrequencySASBase',
       'WorkToolsFrequencySASEnterprise', 'WorkToolsFrequencySASJMP',
       'WorkToolsFrequencySpark', 'WorkToolsFrequencySQL',
       'WorkToolsFrequencyStan', 'WorkToolsFrequencyStatistica',
       'WorkToolsFrequencyTableau', 'WorkToolsFrequencyTensorFlow',
       'WorkToolsFrequencyTIBCO', 'WorkToolsFrequencyUnix',
       'WorkToolsFrequencySelect1', 'WorkToolsFrequencySelect2',
       'WorkFrequencySelect3', 'WorkMethodsSelect',
       'WorkMethodsFrequencyA/B', 'WorkMethodsFrequencyAssociationRules',
       'WorkMethodsFrequencyBayesian', 'WorkMethodsFrequencyCNNs',
       'WorkMethodsFrequencyCollaborativeFiltering',
       'WorkMethodsFrequencyCross-Validation',
       'WorkMethodsFrequencyDataVisualization',
       'WorkMethodsFrequencyDecisionTrees',
       'WorkMethodsFrequencyEnsembleMethods',
       'WorkMethodsFrequencyEvolutionaryApproaches',
       'WorkMethodsFrequencyGANs', 'WorkMethodsFrequencyGBM',
       'WorkMethodsFrequencyHMMs', 'WorkMethodsFrequencyKNN',
       'WorkMethodsFrequencyLiftAnalysis',
       'WorkMethodsFrequencyLogisticRegression', 'WorkMethodsFrequencyMLN',
       'WorkMethodsFrequencyNaiveBayes', 'WorkMethodsFrequencyNLP',
       'WorkMethodsFrequencyNeuralNetworks', 'WorkMethodsFrequencyPCA',
       'WorkMethodsFrequencyPrescriptiveModeling',
       'WorkMethodsFrequencyRandomForests',
       'WorkMethodsFrequencyRecommenderSystems',
       'WorkMethodsFrequencyRNNs', 'WorkMethodsFrequencySegmentation',
       'WorkMethodsFrequencySimulation', 'WorkMethodsFrequencySVMs',
       'WorkMethodsFrequencyTextAnalysis',
       'WorkMethodsFrequencyTimeSeriesAnalysis',
       'WorkMethodsFrequencySelect1', 'WorkMethodsFrequencySelect2',
       'WorkMethodsFrequencySelect3', 'TimeGatheringData',
       'TimeModelBuilding', 'TimeProduction', 'TimeVisualizing',
       'TimeFindingInsights', 'TimeOtherSelect',
       'AlgorithmUnderstandingLevel', 'WorkChallengesSelect',
       'WorkChallengeFrequencyPolitics',
       'WorkChallengeFrequencyUnusedResults',
       'WorkChallengeFrequencyUnusefulInstrumenting',
       'WorkChallengeFrequencyDeployment',
       'WorkChallengeFrequencyDirtyData',
       'WorkChallengeFrequencyExplaining', 'WorkChallengeFrequencyPass',
       'WorkChallengeFrequencyIntegration', 'WorkChallengeFrequencyTalent',
       'WorkChallengeFrequencyDataFunds',
       'WorkChallengeFrequencyDomainExpertise', 'WorkChallengeFrequencyML',
       'WorkChallengeFrequencyTools', 'WorkChallengeFrequencyExpectations',
       'WorkChallengeFrequencyITCoordination',
       'WorkChallengeFrequencyHiringFunds',
       'WorkChallengeFrequencyPrivacy', 'WorkChallengeFrequencyScaling',
       'WorkChallengeFrequencyEnvironments',
       'WorkChallengeFrequencyClarity', 'WorkChallengeFrequencyDataAccess',
       'WorkChallengeFrequencyOtherSelect', 'WorkDataVisualizations',
       'WorkInternalVsExternalTools', 'WorkMLTeamSeatSelect',
       'WorkDatasets', 'WorkDatasetsChallenge', 'WorkDataStorage',
       'WorkDataSharing', 'WorkDataSourcing', 'WorkCodeSharing',
       'RemoteWork', 'CompensationAmount', 'CompensationCurrency',
       'SalaryChange', 'JobSatisfaction', 'JobSearchResource',
       'JobHuntTime', 'JobFactorLearning', 'JobFactorSalary',
       'JobFactorOffice', 'JobFactorLanguages', 'JobFactorCommute',
       'JobFactorManagement', 'JobFactorExperienceLevel',
       'JobFactorDepartment', 'JobFactorTitle', 'JobFactorCompanyFunding',
       'JobFactorImpact', 'JobFactorRemote', 'JobFactorIndustry',
       'JobFactorLeaderReputation', 'JobFactorDiversity',
       'JobFactorPublishingOpportunity'], dtype=object)

In [38]:
print(MChoice_Response.GenderSelect.isnull().sum())
print(MChoice_Response.GenderSelect.value_counts())

95
Male                                                 13610
Female                                                2778
A different identity                                   159
Non-binary, genderqueer, or gender non-conforming       74
Name: GenderSelect, dtype: int64

In [39]:
print(MChoice_Response.Country.isnull().sum())
print(MChoice_Response.Country.value_counts())

121
United States                  4197
India                          2704
Other                          1023
Russia                          578
United Kingdom                  535
People 's Republic of China     471
Brazil                          465
Germany                         460
France                          442
Canada                          440
Australia                       421
Spain                           320
Japan                           277
Taiwan                          254
Italy                           238
Netherlands                     205
Ukraine                         196
South Korea                     194
Poland                          184
Singapore                       184
Pakistan                        161
Turkey                          144
Indonesia                       131
Switzerland                     129
South Africa                    127
Mexico                          126
Colombia                        113
Iran                            112
Israel                          105
Ireland                          94
Portugal                         93
Argentina                        92
Belgium                          91
Sweden                           89
Philippines                      84
Greece                           81
Malaysia                         79
Denmark                          78
New Zealand                      74
Nigeria                          73
Vietnam                          71
Republic of China                67
Finland                          67
Egypt                            66
Hungary                          66
Hong Kong                        65
Romania                          59
Kenya                            59
Belarus                          54
Czech Republic                   53
Norway                           53
Chile                            51
Name: Country, dtype: int64